@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-style: normal;
}

::webkit-scrollbar {
  width: 0px;
  height: 0px;
}
